<template>
  <div class="container">
    <div class="content">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <img src="@/assets/logo.png">
          <p>Welcome to my vue.js based League of Legends search engine.</p>
          <form class="form" v-on:submit="navigate()">
            <div class="field has-addons">
              <div class="control is-expanded">
                <input class="input" type="text" placeholder="Summoner ID." v-model="summoner_name">
              </div>
              <div class="control">
                <button class="button is-info">
                  Go
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import router from '../router'

  export default {
    name: 'Home',
    data: () => ({
      summoner_name: ''
    }),
    methods: {
      navigate () {
        router.push({
          name: 'Summoner',
          params: {
            id: this.summoner_name
          }
        })
      }
    }
  }
</script>
