<template>
  <div v-if="showMatchlist" class="columns is-multiline">
    <div class="column is-12" v-for="match in resultsMatchAll.slice(0, limitationList)" :key="match.id">
        <figure class="image is-96x96">
          <img v-bind:src="'http://ddragon.leagueoflegends.com/cdn/8.13.1/img/champion/' + match.champion + '.png'">
        </figure>
      <p>
        <span v-if="match.lane != 'NONE'"> Lane: {{ match.lane }}, </span>
        <br> Game Id {{ match.gameId }}
        <br> Champion Id {{ match.champion }}
      </p>
    </div>
    <button class="button" v-on:click="showMore()">Show more</button>
  </div>
</template>

<script>
  import axios from 'axios'

  const proxy = 'https://cors-anywhere.herokuapp.com/'
  const ApiKey = process.env.API_KEY
  const riotBaseUrl = 'https://euw1.api.riotgames.com/lol/'

  export default {
    name: 'Matchlist',
    data: () => ({
      showMatchlist: false,
      limitationList: 5
    }),
    props: ['accountid'],
    beforeMount () {
      const matchlistUrl = proxy + riotBaseUrl + 'match/v3/matchlists/by-account/' + this.accountid +
        '?api_key=' + ApiKey
      axios
        .get(matchlistUrl)
        .then(response => {
          this.resultsMatchAll = response.data.matches
          this.showMatchlist = true
        })
        .catch(e => {
          console.log(e)
        })
    },
    methods: {
      showMore (limitationList) {
        this.limitationList += 5
       }
    }
  }
</script>
