<template>
  <div class="container">
    <div class="columns">
      <div class="column is-6">
        <router-link to="/">Vue Riot</router-link>
      </div>
      <div class="column is-4 is-offset-2">
        <form class="form" v-on:submit="resetPlayerData()">
          <div class="field has-addons">
            <div class="control is-expanded">
              <input class="input" type="text" placeholder="Summoner ID." v-model="summoner_name">
            </div>
            <div class="control">
              <button class="button is-info">
                Go
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="columns">
      <div class="column is-12">
        <div class="card" v-if="showData">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-96x96">
                  <img v-bind:src="'http://ddragon.leagueoflegends.com/cdn/8.13.1/img/profileicon/' + resultsByName.profileIconId + '.png'">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">{{ resultsByName.name }}</p>
                <p class="subtitle is-6"  v-if="resultsById">{{ resultsById.leagueName }}
                  <br> {{ resultsByName.accountId }}</p>
              </div>
            </div>
            <div class="content"  v-if="resultsById">
              <p>
                Level {{ resultsByName.summonerLevel }}.
                <br> Rank: {{ resultsById.tier }} {{ resultsById.rank }}
                <br> Wins: {{ resultsById.wins }}
                <br> Losses: {{ resultsById.losses }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns" v-if="showMastery">
      <h1>{{ resultsByName.name }}'s best champions</h1>
      <div class="column is-3" v-for="bestChamp in resultsMastery.slice(0, 4)" :key="bestChamp.id">
       <p>Champion ID: {{ bestChamp.championId }} <br>
        Champion Name: {{ championName }} <br>
         Champion Level: {{ bestChamp.championLevel }}</p>
      </div>
    </div>
    <div class="content">
      <div class="columns">
        <div class="column is-12">
          <button class="button  is-primary" v-on:click="showMatch()">See {{ resultsByName.name }} latest games</button>
        </div>
      </div>
      <Matchlist v-if="showMatchlist" :accountid="resultsByName.accountId"></Matchlist>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'

  import router from '../router'
  import Matchlist from './Matchlist.vue'

  import {
    getPlayerData
  } from '../assets/js/playerdata.js'

  Vue.component('Matchlist', Matchlist)

  export default {
    name: 'Summoner',
    created: function () {
      this.summoner_name = this.$route.params.id
    },
    data: () => ({
      showData: false,
      showMastery: false,
      showMatchlist: false,
      championName: '',
      resultsByName: [],
      resultsById: [],
      resultsMastery: [],
      resultsMatch: []
    }),
    methods: {
      resetPlayerData () {
        this.showMatchlist = false
        router.push({
          name: 'Summoner',
          params: {
            id: this.summoner_name
          }
        })
        this.getPlayerData(this.summoner_name)
      },
      showMatch () {
        this.showMatchlist = true
      },
      getPlayerData: getPlayerData
    },
    beforeMount () {
      this.getPlayerData(this.summoner_name)
    }
  }
</script>
