/** Colors */

$primary: #333333;

$dark-grey: #989898;
$light-grey: #f0f0f0;
$white: #fff;
$black: #000;

// Space
$spacer: 2rem;
$space: 24px;
$space-half: $space * 0.5;
$space-quarter: $space * 0.25;
$space-double: $space * 2;
$space-triple: $space * 3;
$space-quad: $space * 4;