<template>
  <div id="app">
    <section class="section">
      <router-view/>
    </section>
  </div>
</template>

<script>
  export default {
    name: 'App'
  }
</script>

<style lang="scss">
  @import 'assets/sass/main.scss';
</style>
